Variables

In [23]:
name = "Gandalf" #string type
age = 850 #number type 
age = 'this is string and is 870'
fly_speedperhr = 150
wizard_status = True


print(name)
type_of_object = type(name)
print(type_of_object)

print(age)
print(type(age))

fly_speedperday = fly_speedperhr * 24
print (fly_speedperday)

Gandalf
<class 'str'>
this is string and is 870
<class 'str'>
3600

In [24]:
#these are our clts
client_id = [0,1,2,3,4] #list
client_list = ['Gandalf','Han solo','Baby Yoda', 'Blade Runner', 'Harry Potter']
client_age = [850, 35, 1, -20, 15]
client_wizard_status = [True,False,False,False,True]

In [32]:
print(client_list[2])
print(client_age[3])

Baby Yoda
-20

In [53]:
for baby_kanoties in client_list:
    print(baby_kanoties)

Gandalf
Han solo
Baby Yoda
Blade Runner
Harry Potter

In [52]:
for clients in client_age:
    print(clients)

850
35
1
-20
15

In [51]:
for clients in client_wizard_status:
    print(clients)

True
False
False
False
True

In [55]:
name = client_list[3]
age = client_age[3]
wizard_status = client_wizard_status[3]

if age <= 0:
    print(f"{name}, YOU ARE NOT BORN YET, PISS OFF")
elif age>0 and age<30:
    print(f"{name}, you are great, keep cash and dance naked")
elif age == 850:
    print(f"{name}, excuse me can I have your boogie please")
else:
    print("you should keep buy crypto with all your money ever made")

Blade Runner, YOU ARE NOT BORN YET, PISS OFF

In [39]:
print(name)
print(type(name))
print(age)
print(type(age))
print(wizard_status)
print(type(wizard_status))
print(client_id)
print(type(client_id))
print(client_list)
print(type(client_list))

Han solo
<class 'str'>
35
<class 'int'>
False
<class 'bool'>
[0, 1, 2, 3, 4]
<class 'list'>
['Gandalf', 'Han solo', 'Baby Yoda', 'Blade Runner', 'Harry Potter']
<class 'list'>

conditional

## LOOP 
Print code will run for each participant on the mentioned list
* for colon : we must have indentation
# print(range(x,(x+9)))
# print(type(range(x,(x+9)))
# n= {(x+9) - x}   not including (x+9)

In [ ]:
#to print numbers we go 
    print(numbers)
#to print the list we go
    print[numbers]

# To break the loop 
go 

if (x == n):
    then break

In [44]:
for numbers in range (44,51):
    print (numbers)

44
45
46
47
48
49
50

In [45]:
for numbers in range (78,83):
    print (numbers)

78
79
80
81
82

In [49]:
for letter in "ajab fun darim bain python khodaie":
    print(letter)

a
j
a
b

f
u
n

d
a
r
i
m

b
a
i
n

p
y
t
h
o
n

k
h
o
d
a
i
e

In [ ]:
client_id = [0,1,2,3,4] #list
client_list = ['Gandalf','Han solo','Baby Yoda', 'Blade Runner', 'Harry Potter']
client_age = [850, 35, 1, -20, 15]
client_wizard_status = [True,False,False,False,True]

In [69]:
client_id = [0,1,2,3,4]
client_list = ['Gandalf','Han solo','Baby Yoda', 'Blade Runner', 'Harry Potter']
client_age = [850, 35, 1, -20, 15]
client_wizard_status = [True,False,False,False,True]

In [77]:
for ID in client_id:
    if (ID == 3):
        break
    else:
        name = client_list[ID]
        age = client_age[ID]
        wizard_status = client_wizard_status[ID]

        if age <= 0:
            print(f"{name}, YOU ARE NOT BORN YET, PISS OFF")
        elif age>0 and age<30:
            print(f"{name}, you are great, keep cash and dance naked")
        elif age == 850:
            print(f"{name}, excuse me can I have your boogie please")
        else:
            print("you should keep buy crypto with all your money ever made")

Gandalf, excuse me can I have your boogie please
you should keep buy crypto with all your money ever made
Baby Yoda, you are great, keep cash and dance naked

In [129]:
stock_ids = [0,1,2,3]
stock_list = ['apple', 'amazon', 'tesla', 'coinbase']
stock_price_open = [100, 150, 330, 50]
stock_price_close = [101, 148, 330, 55]

for x in stock_ids:
    if stock_price_open[x] > stock_price_close[x]:
        price_down = stock_price_open[x] - stock_price_close[x]
        percent_change = price_down/stock_price_open[x]
        print(f"{stock_list[x]} was down {percent_change}")
    elif stock_price_close[x] > stock_price_open[x]:
        price_up = stock_price_close[x] - stock_price_open[x]
        percent_change = price_up/stock_price_open[x]
        print(f"{stock_list[x]} was up {percent_change}")
    else:
        print(f"{stock_list[x]} stock price didnot change")

apple was up 0.01
amazon was down 0.013333333333333334
tesla stock price didnot change
coinbase was up 0.1

write an interploted variable string if they are even

In [87]:
integers = [2, 4, 5, 6]

count_even = 0

for x in integers:
    if(x%2 == 0):
        count_even += 1
    
    
print(f'now we count the evens that is : {count_even}')

now we count the evens that is : 3

Creat a for loop for even and odd numbers with inerpolated variable and count each

In [89]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

count_even = 0
count_odd = 0

for x in numbers:
    if (x%2 == 1):
        count_odd += 1
    
    elif (x%2 == 0):
        count_even += 1

print(f'If this works I am having fun till the end so that is odd : {count_odd}')
print(f'If this works I am even with most intelligent person : {count_even}')

If this works I am having fun till the end so that is odd : 5
If this works I am even with most intelligent person : 4

In [94]:
numbers = [2, 4, 5, 6]
count_even = 0

for x in numbers:
    if (x%2 == 0):
        print(x)
        count_even += 1
print(f'even numbers of the list are : {count_even}')

2
4
6
even numbers of the list are : 3

In [ ]:
numbers = [2, 4, 5, 6]